/*Variables
:root {
	--basic-black: #000000;
	--basic-extra-dark: #242424;
	--basic-dark: #aba9a7;
	--basic-neutral: #e5e5e5;
	--basic-extra-light: #f8f5f2;
	--basic-white: #ffffff;

	--special: #663d15;
}
*/
mark {
background-color: #0d5ea19f;
color: white;
}
/*page grid*/
.page {
}

/*Global*/
.page-body {		
/*color: var(--basic-red);
text-transform: uppercase;*/
background-color: #06266F;
color: white;
font-size: 24px;
line-height: 34px;
font-weight: 400;
font-style: normal;
font-family: 'Montserrat', sans-serif;
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
}
h1 {
line-height: 54px;
text-transform: uppercase;
text-align: center;
}
h2, h3, h4 {
text-align: left;
line-height: 44px;
margin-left: 30px;
}
a {
text-decoration: none;
/*text-transform: uppercase;*/
color: white;
}

img {
max-width: 100%;
height: auto;
}
.main-header {
display: flex;
flex-direction: row;
}
.main-header-logo {
margin-top: 5px;
}
.main-navigation {

display: flex;
flex-direction: row;
max-width: 1200px;
align-items: center;
}

.site-navigation {
width: 100%;
justify-content: space-around;
display: flex;
flex-wrap: wrap;		
list-style-type: none;	
}
.container {
max-width: 1200px;
background-color: #0f3077;
}		
.welcome_wrapper {
padding: 3%;
}
.index-columns {
display: flex;
flex-direction: row;
align-items: center;
background-color: #06266F;
flex-wrap: wrap;
justify-content: space-around;
}
/*features - приемущества*/

.features {
padding: 5px;
background-color: #06266F;
}
.features-list {
background-color: #06266F;
display: flex;
align-items: start;
padding: 0px;
}

.feature-item {
border: 1px dotted white;
list-style-type: none;
padding: 15px;
justify-items: start;
width:calc( ( 100% - 40px ) / 3 );
height: 450px;
margin-left: auto;
margin-right: auto;
}

/*GALLERY*/
.gallery {
}
.foto_name_wrapper,
.button_wrapper{
display: flex;
justify-content: space-around;
align-items: center;
}
.main-footer {
background-color: #0f3077;
max-width: 1200px;
margin-top: 15px;
}
.footer-contacts {
display: flex;
justify-content: space-around;
}
.post-adress {
background-color: #06266F;
padding: 15px;
width:calc( ( 100% - 40px ) / 2 );
}
.email-adress {
padding: 15px;	
}
.footer-copyright {
text-align: center;
}
/*----------------post wrapper--------------------*/
.post_wrapper {
background-color: #06266F;
padding: 3%;
}

/*---------------foto wrapper--------------------*/
.foto_wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.foto_post {
padding: 0px;
width:550px;
border: 3px solid white;
box-shadow: red;
}
.about_work{
padding: 3%;
}
/*---------------------СлайдШОУ ------------------*/
.slider{
	width: 300px;
	overflow: hidden;
	position: relative;
}

.slider__line{
	display: flex;
	transition: all 1s;
}
.slider__img{
	width: 300px;
	height: 250px;
}
.slider__btn-prev{
	position: absolute;
	left: 0px;
	top: 50%;
	/*transform: translateY(-50%);
	font-size: 30px;

	color: rgba(255, 255, 255, 0.849);
	background-color: transparent;*/
	
	line-height: 1;
}
.slider__btn-next{
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;

	/*color: rgba(255, 255, 255, 0.849);
	background-color: transparent;*/
	
	line-height: 1;
}
.slider__btn-prev:hover, .slider__btn-next:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.541);
}
/*---------------------media ------------------*/


  @media (max-width: 1024px) {
/*.main-header-logo {
align-items: center;
margin-left: auto;
margin-right: auto;
}
*/

.main-navigation {
flex-direction: column;
align-items: center;
}
.main-header-logo {
display: flex;
margin-top: 15px;
justify-content: center;
}
.site-navigation {
/*width: 100%;*/
flex-direction: column;	
align-items: center;
padding: 0px;
}
.features-list {
display: flex;
flex-direction: column;
flex-direction: wrap;
 padding: 5px;
}
.feature-item {
list-style-type: none;
width:calc( 100% - 40px );
justify-items: start;
margin-top: 10px;
height: 100%;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.footer-contacts {
display: flex;
flex-direction: column;
}
.post-adress {
margin-left: auto;
margin-right: auto;
width: 85%;
text-align: center;
}
.email-adress {
border: 1px dotted white;
width: 85%;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.welcome_wrapper{
font-size: 85%;
}

/*---------------foto wrapper--------------------*/
.foto_wrapper {
display: flex;
justify-content: space-around;
flex-direction: column;
}
.foto_post {
padding: 0px;
width:calc( 100% - 30px );
margin: 1%;
margin-left: auto;
margin-right: auto;
}
.h2_mobile_wrapper {
font-size: 24px;
text-align: left;
line-height: 34px;
margin-left: 3%;
}
.h1_mobile_wrapper {
font-size: 24px;
text-align: left;
margin-left: 1%;
line-height: 30px	;
}
/*--------------NAVIATION--------------------*/
.nav-link {
border: 1px solid white;
font-size: 20	px;
padding: 2px;
background-color: #0f3077;
}
.a_wrapper {
display: flex;
flex-direction: column;
margin: 5px;
width: 320px;
}
}
 /*@media (max-width: 820px) {
.main-navigation {
flex-direction: column;
align-items: center;
}
.nav-link {
border: 1px solid white;
font-size: 10	px;
margin-top: 10px;
}
}
